# Secrets & env
secrets
.env
.direnv

# Data
finance/assets/
finance/data/

# DB data / volumes
finance/sql/*.dump
finance/sql/*.bak

# Dev
result
result-*

# Python
**/__pycache__/
**/*.pyc
**/*.pyo
**/*.log
