# Other containers
grafana/
alloy/
prometheus/
loki/

# Secrets & env
*.txt
!finance/requirements/*.txt
.env
.venv/
finance/assets/*
!finance/assets/example.yml

# DB data / volumes (on ne versionne pas les données)
finance/sql/*.dump
finance/sql/*.bak

# Python
**/__pycache__/
**/*.pyc
**/*.pyo
**/*.log

# IDE / OS
.vscode/
.DS_Store

# Cache
.ruff_cache/

finance/etl/calc/